<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="vpnIp" value="10.202.208.188"/>
    <add key="rdpPath" value="C:\Users\Giorgi\Documents\BOG Desktop.rdp"/>
  </appSettings>
</configuration>